In [44]:
# All imports
#from google.colab import drive
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
#from google.colab import files

In [ ]:
# Mount drive
#drive.mount('/content/drive/')

In [ ]:
!pip install redshift_connector
import redshift_connector
conn = redshift_connector.connect(
     host='redshift-cluster-1.cigoy313aggq.us-east-1.redshift.amazonaws.com',
     database='dev',
     port=5439,
     user='awsuser',
     password='Winter2023'
  )


def execute_query(conn, query):
    cursor = conn.cursor()
    try:
        cursor.execute(query)
        conn.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")
        
        
create_finalProject_table = """
CREATE TABLE if not exists finalProject (
  Id INT PRIMARY KEY AUTO_INCREMENT,
  Entity VARCHAR(32) NOT NULL,
  Year INT NOT NULL,
  Annual_CO₂_emissions float,
  GDP_per_capita float,
  Population float ,
  per_gdp_CO2 float ,
  Annual_nitrous_oxide_emissions float,
Annual_methane_emissions float,
per_capita_CO2 float,
C02_emmissions_worldtotal float
);
 """



execute_query(conn, create_finalProject_table) # Execute our defined query

def execute_list_query(conn, sql, val):
    cursor = conne.cursor()
    try:
        cursor.executemany(sql, val)
        conn.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")



def read_query(conn, query):
    cursor = conn.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")
        

        
sql1 = '''
   INSERT INTO finalProject (Entity, Year, Annual_CO₂_emissions, per_capita_CO2 , GDP_per_capita, Population, per_gdp_CO2, Annual_nitrous_oxide_emissions , Annual_methane_emissions, 
C02_emmissions_worldtotal)
    VALUES ( %s, %s, %s, %s, %s, %s, %s, %s,%s,%s)
  '''

val1 = df_pop3_final.values.tolist()
#print(val1)
#connection = create_db_connection("localhost", "root", pw, db)
execute_list_query(conn, sql1, val1)    

firstQuery ='''SELECT ENTITY, Annual_CO₂_emissions, Year from finalProject;'''
connection = create_db_connection("localhost", "root", pw, db)
df_co2_graph = read_query(connection, firstQuery)
print(df_co2_graph)

#Retrieve the query result set
result: tuple = cursor.fetchall()
print(result)

In [45]:
#Connect to the cluster
!pip install mysql.connector
import mysql.connector
from mysql.connector import Error

Requirement already satisfied: mysql.connector in c:\python310\lib\site-packages (2.2.9)

[notice] A new release of pip is available: 23.0.1 -> 23.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [15]:

def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

pw = 'Fall2022' # IMPORTANT! Put your MySQL Terminal password here.
db = "school" # This is the name of the database we will create in the next step - call it whatever you like.

connection = create_server_connection("localhost", "root", pw)

MySQL Database connection successful

In [ ]:
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")

create_database_query = "CREATE DATABASE school"
create_database(connection, create_database_query)

In [16]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [17]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:
# Assign our SQL command to a python variable using triple quotes to create a multi-line string

drop_table= '''
Drop table finalProject
'''
    
    
create_finalProject_table = """
CREATE TABLE if not exists finalProject (
  Id INT PRIMARY KEY AUTO_INCREMENT,
  Entity VARCHAR(32) NOT NULL,
  Year INT NOT NULL,
  Annual_CO₂_emissions float,
  GDP_per_capita float,
  Population float ,
  per_gdp_CO2 float ,
  Annual_nitrous_oxide_emissions float,
Annual_methane_emissions float,
per_capita_CO2 float,
C02_emmissions_worldtotal float
);
 """

connection = create_db_connection("localhost", "root", pw, db) # Connect to the Database
execute_query(connection, drop_table) # Execute our defined query
execute_query(connection, create_finalProject_table) # Execute our defined query

In [18]:
def execute_list_query(connection, sql, val):
    cursor = connection.cursor()
    try:
        cursor.executemany(sql, val)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [46]:

df_co2 = pd.read_csv("./CSV/annual-co2-emissions-per-country.csv")
df_pop = pd.read_csv('./CSV/population-and-demography.csv')
df_gdp = pd.read_csv('./CSV/gdp-per-capita.csv')
df_methane = pd.read_csv('./CSV/methane-emissions.csv')
df_nitrous = pd.read_csv('./CSV/nitrous-oxide-emissions.csv')

THIS IS THE MERGE PART

In [47]:

#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)


pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')

countries_array = ['Russia', 'China', 'United States', 'United Kingdom','Canada', 'World']



df_co2_noname = df_co2[['Entity','Year','Annual CO₂ emissions']] 

df_co2_final = df_co2_noname[(df_co2_noname['Entity'].isin(countries_array))]

df_co2_final

       Entity  Year  Annual CO₂ emissions
5320   Canada  1785          3.664000e+03
5321   Canada  1786          3.664000e+03
5322   Canada  1787          3.664000e+03
5323   Canada  1788          3.664000e+03
5324   Canada  1789          3.664000e+03
...       ...   ...                   ...
31081   World  2017          3.609674e+10
31082   World  2018          3.682651e+10
31083   World  2019          3.708256e+10
31084   World  2020          3.526409e+10
31085   World  2021          3.712385e+10

[1294 rows x 3 columns]

In [49]:

#df_methane = pd.read_csv(df_methane)

df_methane_noname = df_methane[['Entity','Year','Annual methane emissions']] 

df_methane_final = df_methane_noname[(df_methane_noname['Entity'].isin(countries_array))]

df_methane_final

       Entity  Year  Annual methane emissions
5814   Canada  1851              9.772536e+06
5815   Canada  1852              9.972014e+06
5816   Canada  1853              1.034139e+07
5817   Canada  1854              1.071860e+07
5818   Canada  1855              1.110386e+07
...       ...   ...                       ...
34708   World  2017              1.012901e+10
34709   World  2018              1.021516e+10
34710   World  2019              1.032124e+10
34711   World  2020              1.037299e+10
34712   World  2021              1.050691e+10

[1026 rows x 3 columns]

In [50]:
#df_nitrous = pd.read_csv(nitrous_path)

df_nitrous_noname = df_nitrous[['Entity','Year','Annual nitrous oxide emissions']] 

df_nitrous_final = df_nitrous_noname[(df_nitrous_noname['Entity'].isin(countries_array))]

df_nitrous_final

       Entity  Year  Annual nitrous oxide emissions
5985   Canada  1851                    3.138664e+06
5986   Canada  1852                    3.190522e+06
5987   Canada  1853                    3.240610e+06
5988   Canada  1854                    3.288250e+06
5989   Canada  1855                    3.332765e+06
...       ...   ...                             ...
35050   World  2017                    2.875266e+09
35051   World  2018                    2.870180e+09
35052   World  2019                    2.885550e+09
35053   World  2020                    2.917279e+09
35054   World  2021                    2.968141e+09

[1026 rows x 3 columns]

In [51]:
df_pop2 = df_pop[["Country name", "Year", "Population"]]
#print(df_pop2)

df_pop3 = pd.merge(

    left = df_co2,
    right = df_gdp,
    left_on = ["Entity","Year"],
    right_on = ["Entity","Year"]

)

df_pop3 = pd.merge(

    left = df_pop3,
    right = df_pop,
    left_on = ["Entity","Year"],
    right_on = ["Country name","Year"]

)

df_pop2 = pd.merge(

    left = df_co2,
    right = df_pop,
    left_on = ["Entity","Year"],
    right_on = ["Country name","Year"]

)




df_pop3["per_capita_CO2"] = df_pop3["Annual CO₂ emissions"]/df_pop3["Population"]
df_pop3["per_gdp_CO2"] = df_pop3["Annual CO₂ emissions"]*1000/(df_pop3["GDP per capita"]*df_pop3["Population"])

#print(df_pop2)
# Filter the df_pop2 dataframe to contain only the 'World' rows
df_world = df_pop2[df_pop2['Entity'] == 'World'][['Year', 'Annual CO₂ emissions']]
#print(df_world)
# Merge the filtered dataframe with the original dataframe on the 'Year' column
df_pop2 = pd.merge(df_pop2, df_world, on='Year', how='left', suffixes=('', '_world'))
#print(df_pop2)
# Calculate the percentage of global CO2 emissions for each country and year
df_pop2['CO₂ emissions %'] = df_pop2['Annual CO₂ emissions'] / df_pop2['Annual CO₂ emissions_world'] * 100
#print(df_pop2)
# Drop the redundant 'Annual CO₂ emissions_world' column
df_pop2 = df_pop2.drop('Annual CO₂ emissions_world', axis=1)



df_pop2_final = df_pop2[(df_pop2['Entity'].isin(countries_array))]
#df_country_final = df_country[(df_country['Entity'].isin(countries_array))]
#df_pop2_final

df_pop3_final = df_pop3[(df_pop3['Entity'].isin(countries_array))]
#from google.colab import files
#df_pop3_final.to_csv('output.csv', encoding = 'utf-8-sig') 
#@#files.download('output.csv')
df_pop3_final = df_pop3_final.drop(columns = ['Code_x', 'Code_y', '417485-annotations', 'Country name', 'Population of children under the age of 1', 'Population aged 20 to 29 years'	,'Population aged 30 to 39 years'	,'Population aged 40 to 49 years',	'Population aged 50 to 59 years',	'Population aged 60 to 69 years',	'Population aged 70 to 79 years',	'Population aged 80 to 89 years',	'Population aged 90 to 99 years'	,'Population older than 100 years' ])
df_pop3_final = df_pop3_final.drop(columns=['Population of children under the age of 5','Population of children under the age of 15','Population under the age of 25','Population aged 15 to 64 years','Population older than 15 years','Population older than 18 years','Population at age 1','Population aged 1 to 4 years','Population aged 5 to 9 years','Population aged 10 to 14 years','Population aged 15 to 19 years'])
df_pop2_final = df_pop2_final.drop(columns = [ 'Country name', 'Population of children under the age of 1', 'Population aged 20 to 29 years'	,'Population aged 30 to 39 years'	,'Population aged 40 to 49 years',	'Population aged 50 to 59 years',	'Population aged 60 to 69 years',	'Population aged 70 to 79 years',	'Population aged 80 to 89 years',	'Population aged 90 to 99 years'	,'Population older than 100 years' ])
df_pop2_final = df_pop2_final.drop(columns=['Population of children under the age of 5','Population of children under the age of 15','Population under the age of 25','Population aged 15 to 64 years','Population older than 15 years','Population older than 18 years','Population at age 1','Population aged 1 to 4 years','Population aged 5 to 9 years','Population aged 10 to 14 years','Population aged 15 to 19 years'])
df_pop2_final = df_pop2_final.drop(columns=['Code','Annual CO₂ emissions','Population'])

df_pop3_final = pd.merge(
    left = df_pop3_final,
    right = df_nitrous_final,
    left_on = ["Entity","Year"],
    right_on = ["Entity","Year"]
)
df_pop3_final = pd.merge(
    
 left = df_pop3_final,
    right = df_methane_final,
    left_on = ["Entity","Year"],
    right_on = ["Entity","Year"]

)
df_pop3_final = pd.merge(
    
 left = df_pop3_final,
    right = df_pop2_final,
    left_on = ["Entity","Year"],
    right_on = ["Entity","Year"]

)

df_pop3_final

,Entity,Year,Annual CO₂ emissions,GDP per capita,Population,per_capita_CO2,per_gdp_CO2,Annual nitrous oxide emissions,Annual methane emissions,CO₂ emissions %
0,Canada,1950,1.541338e+08,11622.000,13743068,11.215382,0.965013,1.650352e+07,4.749925e+07,2.567496
1,Canada,1951,1.626780e+08,12007.000,14085723,11.549143,0.961867,1.676840e+07,4.916457e+07,2.549894
2,Canada,1952,1.594088e+08,12486.000,14485746,11.004525,0.881349,1.708863e+07,5.007333e+07,2.465442
3,Canada,1953,1.606082e+08,12726.000,14901533,10.777964,0.846925,1.745643e+07,5.130872e+07,2.415973
4,Canada,1954,1.629677e+08,12272.000,15323199,10.635355,0.866636,1.786397e+07,5.273654e+07,2.400124
...,...,...,...,...,...,...,...,...,...,...
340,World,2000,2.545362e+10,9914.567,6148899000,4.139542,0.417521,2.393431e+09,8.400780e+09,100.000000
341,World,2010,3.336435e+10,13179.495,6985603000,4.776158,0.362393,2.641035e+09,9.454867e+09,100.000000
342,World,2016,3.552419e+10,14700.372,7513474000,4.728065,0.321629,2.822356e+09,9.974606e+09,100.000000
343,World,2017,3.609674e+10,14944.094,7599822300,4.749682,0.317830,2.875266e+09,1.012901e+10,100.000000
344,World,2018,3.682651e+10,15212.415,7683790000,4.792753,0.315055,2.870180e+09,1.021516e+10,100.000000

In [ ]:
sql1 = '''
   INSERT INTO finalProject (Entity, Year, Annual_CO₂_emissions, per_capita_CO2 , GDP_per_capita, Population, per_gdp_CO2, Annual_nitrous_oxide_emissions , Annual_methane_emissions, 
C02_emmissions_worldtotal)
    VALUES ( %s, %s, %s, %s, %s, %s, %s, %s,%s,%s)
  '''

val1 = df_pop3_final.values.tolist()
#print(val1)
connection = create_db_connection("localhost", "root", pw, db)
execute_list_query(connection, sql1, val1)

In [ ]:
# Creating Graph for comparing Canada All and Canada - Factory
# df_canada_vs_canada_no_factory
plt.style.use('default')

with plt.style.context('Solarize_Light2'):


  fig,axs = plt.subplots(figsize=(10,5))

  #plt.xticks(range(1750,2021), range(1750,2021))

  co2_per_capita = sns.lineplot(
      data=df_pop2_final,
      x='Year',
      y='per_capita_CO2',
      hue='Entity'
  )
  co2_per_capita.set(
      xlabel='Date',
      ylabel='Kilotonnes of CO₂',
      ylim=(0,None),
      title='''CO₂ Emissions per capita from 'countries_array' per year (1950 - 2020)'''
  )

  plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0, title="")
  #plt.legend(title='')

In [ ]:
# Creating Graph for comparing Canada All and Canada - Factory
# df_canada_vs_canada_no_factory
plt.style.use('default')

with plt.style.context('Solarize_Light2'):


  fig,axs = plt.subplots(figsize=(10,5))

  #plt.xticks(range(1750,2021), range(1750,2021))

  co2_per_capita = sns.lineplot(
      data=df_pop2_final,
      x='Year',
      y='CO₂ emissions %',
      hue='Entity'
  )
  co2_per_capita.set(
      xlabel='Date',
      ylabel='Kilotonnes of CO₂',
      ylim=(0,None),
      title='''CO₂ Emissions compared worldwide from 'countries_array' per year (1950 - 2020)'''
  )

  plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0, title="")
  
  plt.savefig('co2_emission_gdp.png', bbox_inches='tight')
  #files.download('co2_emission_gdp.png')
  #plt.legend(title='')

In [ ]:
# Creating Graph for comparing Canada All and Canada - Factory
# df_canada_vs_canada_no_factory
plt.style.use('default')

with plt.style.context('Solarize_Light2'):


  fig,axs = plt.subplots(figsize=(10,5))

  #plt.xticks(range(1750,2021), range(1750,2021))

  co2_per_capita = sns.lineplot(
      data=df_pop3_final,
      x='Year',
      y='per_gdp_CO2',
      hue='Entity'
  )
  co2_per_capita.set(
      xlabel='Date',
      ylabel='Kilotonnes of CO₂',
      ylim=(0,None),
      title='''CO₂ Emissions compared worldwide from 'countries_array' per year (1950 - 2020)'''
  )

  plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0, title="")
  #plt.legend(title='')

#plt.savefig('co2_emission_gdp.png', bbox_inches='tight')
#files.download('co2_emission_gdp.png')

# New Section

In [ ]:
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:
firstQuery ='''SELECT ENTITY, Annual_CO₂_emissions, Year from finalProject;'''
connection = create_db_connection("localhost", "root", pw, db)
df_co2_graph = read_query(connection, firstQuery)

In [ ]:
df_co2_graph

In [ ]:
result = df_co2_graph.concat(df_list, axis=1)

In [ ]:
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:
co2Query = '''
    SELECT Entity,
    Annual_CO₂_emissions,
    Year
    FROM finalProject
'''
connection = create_db_connection("localhost", "root", pw, db)
co2_data = read_query(connection, co2Query)

# Create a pandas DataFrame from the list
df_co2_final = pd.DataFrame(co2_data, columns=['Entity', 'Annual CO₂ emissions', 'Year'])

In [ ]:
import matplotlib.ticker as ticker

# Creating Graph for comparing Canada All and Canada - Factory
# df_canada_vs_canada_no_factory
plt.style.use('default')

with plt.style.context('Solarize_Light2'):


    fig,axs = plt.subplots(figsize=(10,5))

    #plt.xticks(range(1750,2021), range(1750,2021))

    axs.yaxis.set_major_formatter(ticker.FuncFormatter(lambda x, pos: f'{x / 10**9:.0f}'))

    co2_country = sns.lineplot(
        data=df_co2_final,
        x='Year',
        y='Annual CO₂ emissions',
        hue='Entity'
    )

    co2_country.set(
        xlabel='Date',
        ylabel='Billion Tonnes of CO₂',
        ylim=(0,None),
        title='''CO₂ Emissions by Country per Year (1950 - 2018)'''
    )
    axs.set_xlim(df_co2_final['Year'].min(), df_co2_final['Year'].max())
    
    plt.xticks(range(1950, 2018, 5), range(1950, 2018, 5))

    plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0, title="")
    #plt.legend(title='')
    
#plt.show()

In [ ]:
methaneQuery = '''
    SELECT Entity,
    Annual_methane_emissions,
    Year
    FROM finalProject
'''
connection = create_db_connection("localhost", "root", pw, db)
methane_data = read_query(connection, methaneQuery)

# Create a pandas DataFrame from the list
df_methane_final = pd.DataFrame(methane_data, columns=['Entity', 'Annual methane emissions', 'Year'])

In [ ]:
import matplotlib.ticker as ticker

# Creating Graph for comparing Canada All and Canada - Factory
# df_canada_vs_canada_no_factory
plt.style.use('default')

with plt.style.context('Solarize_Light2'):


    fig,axs = plt.subplots(figsize=(10,5))

    #plt.xticks(range(1750,2021), range(1750,2021))

    axs.yaxis.set_major_formatter(ticker.FuncFormatter(lambda x, pos: f'{x / 10**9:.0f}'))

    ax_canada_vs_canada_no_factory = sns.lineplot(
        data=df_methane_final,
        x='Year',
        y='Annual methane emissions',
        hue='Entity'
    )
    ax_canada_vs_canada_no_factory.set(
        xlabel='Date',
        ylabel='Billion Tonnes of Methane',
        ylim=(0,None),
        title='''Methane Emissions by Country per Year (1950 - 2018)'''
    )

    axs.set_xlim(df_methane_final['Year'].min(), df_methane_final['Year'].max())

    plt.xticks(range(1950, 2018, 5), range(1950, 2018, 5))

    plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0, title="")
    #plt.legend(title='')

    plt.show()

In [ ]:
nitrousQuery = '''
    SELECT Entity,
    Annual_nitrous_oxide_emissions,
    Year
    FROM finalProject
'''
connection = create_db_connection("localhost", "root", pw, db)
nitrous_data = read_query(connection, nitrousQuery)

# Create a pandas DataFrame from the list
df_nitrous_final = pd.DataFrame(nitrous_data, columns=['Entity', 'Annual nitrous emissions', 'Year'])

In [ ]:
import matplotlib.ticker as ticker

# Creating Graph for comparing Canada All and Canada - Factory
# df_canada_vs_canada_no_factory
plt.style.use('default')

with plt.style.context('Solarize_Light2'):


    fig,axs = plt.subplots(figsize=(10,5))

  #plt.xticks(range(1750,2021), range(1750,2021))

    axs.yaxis.set_major_formatter(ticker.FuncFormatter(lambda x, pos: f'{x / 10**9:.1f}'))

    ax_canada_vs_canada_no_factory = sns.lineplot(
        data=df_nitrous_final,
        x='Year',
        y='Annual nitrous emissions',
        hue='Entity'
    )
    ax_canada_vs_canada_no_factory.set(
        xlabel='Date',
        ylabel='Billion Tonnes of Nitrous Oxide',
        ylim=(0,None),
        title='''Nitrous Oxide Emissions by Country per Year (1850 - 2021)'''
    )

    axs.set_xlim(df_nitrous_final['Year'].min(), df_nitrous_final['Year'].max())

    plt.xticks(range(1950, 2018, 5), range(1950, 2018, 5))

    plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0, title="")
  #plt.legend(title='')

plt.show()

In [ ]:
co2_gdp_Query = '''
    SELECT Entity,
    per_gdp_CO2,
    Year
    FROM finalProject
'''
connection = create_db_connection("localhost", "root", pw, db)
co2_gdp_data = read_query(connection, co2_gdp_Query)

# Create a pandas DataFrame from the list
df_co2_gdp_final = pd.DataFrame(co2_gdp_data, columns=['Entity', 'per_gdp_CO2', 'Year'])

In [ ]:

import matplotlib.ticker as ticker

# Creating Graph for comparing Canada All and Canada - Factory
# df_canada_vs_canada_no_factory
plt.style.use('default')

with plt.style.context('Solarize_Light2'):


    fig,axs = plt.subplots(figsize=(10,5))

    #plt.xticks(range(1750,2021), range(1750,2021))

    co2_per_capita = sns.lineplot(
        data=df_pop3_final,
        x='Year',
        y='per_gdp_CO2',
        hue='Entity'
    )
    co2_per_capita.set(
        xlabel='Date',
        ylabel='Kilotonnes of CO₂',
        ylim=(0,None),
        title='''CO₂ Emissions compared worldwide from 'countries_array' per year (1950 - 2020)'''
    )
    
    axs.set_xlim(df_nitrous_final['Year'].min(), df_nitrous_final['Year'].max())

    plt.xticks(range(1950, 2018, 5), range(1950, 2018, 5))

    plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0, title="")
    #plt.legend(title='')

#plt.savefig('co2_emission_gdp.png', bbox_inches='tight')
#files.download('co2_emission_gdp.png')

plt.show()

In [22]:
!pip install redshift_connector

Requirement already satisfied: redshift_connector in c:\python310\lib\site-packages (2.0.910)

[notice] A new release of pip is available: 23.0.1 -> 23.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pytz>=2020.1 in c:\python310\lib\site-packages (from redshift_connector) (2022.7.1)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in c:\python310\lib\site-packages (from redshift_connector) (2.28.2)
Requirement already satisfied: botocore<2.0.0,>=1.12.201 in c:\python310\lib\site-packages (from redshift_connector) (1.29.120)
Requirement already satisfied: scramp<1.5.0,>=1.2.0 in c:\python310\lib\site-packages (from redshift_connector) (1.4.4)
Requirement already satisfied: lxml>=4.6.5 in c:\python310\lib\site-packages (from redshift_connector) (4.9.2)
Requirement already satisfied: boto3<2.0.0,>=1.9.201 in c:\python310\lib\site-packages (from redshift_connector) (1.26.120)
Requirement already satisfied: setuptools in c:\python310\lib\site-packages (from redshift_connector) (63.2.0)
Requirement already satisfied: packaging in c:\python310\lib\site-packages (from redshift_connector) (23.0)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.7.0 in c:\python310\lib\site-packages (from redshift_connector) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\python310\lib\site-packages (from beautifulsoup4<5.0.0,>=4.7.0->redshift_connector) (2.3.2.post1)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in c:\python310\lib\site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (0.6.0)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\python310\lib\site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (1.0.1)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in c:\python310\lib\site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (1.26.14)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\python310\lib\site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\python310\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2022.12.7)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\python310\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (3.0.1)
Requirement already satisfied: idna<4,>=2.5 in c:\python310\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (3.4)
Requirement already satisfied: asn1crypto>=1.5.1 in c:\python310\lib\site-packages (from scramp<1.5.0,>=1.2.0->redshift_connector) (1.5.1)
Requirement already satisfied: six>=1.5 in c:\python310\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.0.0,>=1.12.201->redshift_connector) (1.16.0)

In [71]:


import redshift_connector

connection = redshift_connector.connect(
     host='redshift-cluster-1.cigoy313aggq.us-east-1.redshift.amazonaws.com',
     database='dev',
     port=5439,
     user='awsuser',
     password='Winter2023'
  )

In [72]:
def execute_query(connection, query):
    cursor = connection.cursor()
    cursor.execute(query)
    connection.commit()
    print("Query successful")

In [58]:
q1 = 'SELECT * FROM stv_inflight;'
read_query(connection, q1)

([100,
  12813,
  7937,
  'default                                                                                                                                                                                                                                                                                                                         ',
  36538,
  1073766804,
  datetime.datetime(2023, 4, 26, 2, 45, 52, 57644),
  'SELECT * FROM stv_inflight;                                                                         ',
  0,
  0,
  0],)

In [70]:
drop_table = '''
Drop table finalProject
'''

execute_query(connection,drop_table)

ProgrammingError: {'S': 'ERROR', 'C': '42P01', 'M': 'Table "finalproject" does not exist', 'F': '../src/pg/src/backend/tcop/utility.c', 'L': '262', 'R': 'DropErrorMsgNonExistent'}

In [73]:


create_finalProject_table = """
CREATE TABLE finalProject (
  Id bigint identity(0,1),
  Entity VARCHAR(32) NOT NULL,
  Year integer NOT NULL,
  Annual_CO₂_emissions float,
  GDP_per_capita float,
  Population float,
  per_gdp_CO2 float ,
  Annual_nitrous_oxide_emissions float,
Annual_methane_emissions float,
per_capita_CO2 float,
C02_emmissions_worldtotal float,
primary key (Id));
 """




execute_query(connection, create_finalProject_table) # Execute our defined query

Query successful

In [42]:

        

def execute_list_query(connection, sql, val):
    cursor = connection.cursor()
    try:
        cursor.executemany(sql, val)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [43]:



def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [74]:

        
sql1 = '''
   INSERT INTO finalProject (Entity, Year, Annual_CO₂_emissions, per_capita_CO2 , GDP_per_capita, Population, per_gdp_CO2, Annual_nitrous_oxide_emissions , Annual_methane_emissions, 
C02_emmissions_worldtotal)
    VALUES ( %s, %s, %s, %s, %s, %s, %s, %s,%s,%s)
  '''

val1 = df_pop3_final.values.tolist()
#print(val1)
#connection = create_db_connection("localhost", "root", pw, db)
execute_list_query(connection, sql1, val1)

Query successful

In [75]:


   

firstQuery ='''SELECT ENTITY, Annual_CO₂_emissions, Year from finalProject;'''
#connection = create_db_connection("localhost", "root", pw, db)
df_co2_graph = read_query(connection, firstQuery)
print(df_co2_graph)

(['Canada', 154133760.0, 1950], ['Canada', 162678030.0, 1951], ['Canada', 159408750.0, 1952], ['Canada', 160608180.0, 1953], ['Canada', 162967660.0, 1954], ['Canada', 169473170.0, 1955], ['Canada', 189802430.0, 1956], ['Canada', 182811420.0, 1957], ['Canada', 182155200.0, 1958], ['Canada', 184481360.0, 1959], ['Canada', 192716180.0, 1960], ['Canada', 194000690.0, 1961], ['Canada', 206990770.0, 1962], ['Canada', 210910780.0, 1963], ['Canada', 237577730.0, 1964], ['Canada', 251917000.0, 1965], ['Canada', 259074370.0, 1966], ['Canada', 281637020.0, 1967], ['Canada', 303261340.0, 1968], ['Canada', 307119200.0, 1969], ['Canada', 341177200.0, 1970], ['Canada', 352287420.0, 1971], ['Canada', 380791680.0, 1972], ['Canada', 381273180.0, 1973], ['Canada', 389616930.0, 1974], ['Canada', 396786780.0, 1975], ['Canada', 398962240.0, 1976], ['Canada', 407790430.0, 1977], ['Canada', 415528670.0, 1978], ['Canada', 441676770.0, 1979], ['Canada', 442846850.0, 1980], ['Canada', 429629730.0, 1981], ['Canada', 414454900.0, 1982], ['Canada', 408338500.0, 1983], ['Canada', 425233340.0, 1984], ['Canada', 421718700.0, 1985], ['Canada', 404707940.0, 1986], ['Canada', 430982050.0, 1987], ['Canada', 455669100.0, 1988], ['Canada', 462885150.0, 1989], ['Canada', 458218340.0, 1990], ['Canada', 449959700.0, 1991], ['Canada', 463758620.0, 1992], ['Canada', 464311580.0, 1993], ['Canada', 478726300.0, 1994], ['Canada', 491386780.0, 1995], ['Canada', 507510750.0, 1996], ['Canada', 521839970.0, 1997], ['Canada', 529649540.0, 1998], ['Canada', 544063800.0, 1999], ['Canada', 566690400.0, 2000], ['Canada', 558777540.0, 2001], ['Canada', 564050900.0, 2002], ['Canada', 581305300.0, 2003], ['Canada', 579592060.0, 2004], ['Canada', 574653630.0, 2005], ['Canada', 568450940.0, 2006], ['Canada', 593515800.0, 2007], ['Canada', 576558340.0, 2008], ['Canada', 543967600.0, 2009], ['Canada', 556560600.0, 2010], ['Canada', 567054140.0, 2011], ['Canada', 568223170.0, 2012], ['Canada', 572613300.0, 2013], ['Canada', 569839700.0, 2014], ['Canada', 574298240.0, 2015], ['Canada', 560525300.0, 2016], ['Canada', 571544640.0, 2017], ['Canada', 584369150.0, 2018], ['China', 78835290.0, 1950], ['China', 102115210.0, 1951], ['China', 127999330.0, 1952], ['China', 133782880.0, 1953], ['China', 160877400.0, 1954], ['China', 190521460.0, 1955], ['China', 215823980.0, 1956], ['China', 255784960.0, 1957], ['China', 524617060.0, 1958], ['China', 720151550.0, 1959], ['China', 798799940.0, 1960], ['China', 570630200.0, 1961], ['China', 459618080.0, 1962], ['China', 456779460.0, 1963], ['China', 460637100.0, 1964], ['China', 500286370.0, 1965], ['China', 549459260.0, 1966], ['China', 460225900.0, 1967], ['China', 495506560.0, 1968], ['China', 607683300.0, 1969], ['China', 807952640.0, 1970], ['China', 909209700.0, 1971], ['China', 968645570.0, 1972], ['China', 1008292600.0, 1973], ['China', 1028099840.0, 1974], ['China', 1183215000.0, 1975], ['China', 1226421200.0, 1976], ['China', 1340831100.0, 1977], ['China', 1492777900.0, 1978], ['China', 1525661200.0, 1979], ['China', 1494495900.0, 1980], ['China', 1476487800.0, 1981], ['China', 1606585000.0, 1982], ['China', 1694216800.0, 1983], ['China', 1844828000.0, 1984], ['China', 1998083000.0, 1985], ['China', 2104213400.0, 1986], ['China', 2257738500.0, 1987], ['China', 2425893600.0, 1988], ['China', 2463654400.0, 1989], ['China', 2484854800.0, 1990], ['China', 2606096100.0, 1991], ['China', 2730787600.0, 1992], ['China', 2921651000.0, 1993], ['China', 3100002000.0, 1994], ['China', 3357909000.0, 1995], ['China', 3503233500.0, 1996], ['China', 3510169000.0, 1997], ['China', 3360455400.0, 1998], ['China', 3552842000.0, 1999], ['China', 3644464000.0, 2000], ['China', 3723730700.0, 2001], ['China', 4112459000.0, 2002], ['China', 4827446000.0, 2003], ['China', 5223755000.0, 2004], ['China', 5876555300.0, 2005], ['China', 6488804000.0, 2006], ['China', 6978611700.0, 2007], ['China', 7496832000.0, 2008], ['China', 7886532600.0, 2009], ['China', 8616653000.0, 2010], ['China', 9528556000.0, 2011], ['China', 9779281000.0, 2012], ['China', 9956309000.0, 2013], ['China', 9998621000.0, 2014], ['China', 9866905000.0, 2015], ['China', 9764980000.0, 2016], ['China', 10011107000.0, 2017], ['China', 10353877000.0, 2018], ['Russia', 884644700.0, 1960], ['Russia', 912314240.0, 1961], ['Russia', 957527600.0, 1962], ['Russia', 1026907300.0, 1963], ['Russia', 1092142800.0, 1964], ['Russia', 1158563800.0, 1965], ['Russia', 1223501600.0, 1966], ['Russia', 1279355900.0, 1967], ['Russia', 1315310000.0, 1968], ['Russia', 1369809000.0, 1969], ['Russia', 1440678900.0, 1970], ['Russia', 1528854800.0, 1971], ['Russia', 1608549600.0, 1972], ['Russia', 1676483300.0, 1973], ['Russia', 1740322700.0, 1974], ['Russia', 1829331700.0, 1975], ['Russia', 1899786000.0, 1976], ['Russia', 1964405000.0, 1977], ['Russia', 2031868700.0, 1978], ['Russia', 2048720500.0, 1979], ['Russia', 2129328900.0, 1980], ['Russia', 2088785400.0, 1981], ['Russia', 2128165500.0, 1982], ['Russia', 2158350800.0, 1983], ['Russia', 2177516300.0, 1984], ['Russia', 2348382000.0, 1985], ['Russia', 2348803300.0, 1986], ['Russia', 2357850600.0, 1987], ['Russia', 2436908500.0, 1988], ['Russia', 2404824800.0, 1989], ['Russia', 2534865000.0, 1990], ['Russia', 2405532000.0, 1991], ['Russia', 1965610200.0, 1992], ['Russia', 1865939500.0, 1993], ['Russia', 1646941800.0, 1994], ['Russia', 1618951200.0, 1995], ['Russia', 1586172800.0, 1996], ['Russia', 1481618800.0, 1997], ['Russia', 1464543000.0, 1998], ['Russia', 1493155100.0, 1999], ['Russia', 1478184700.0, 2000], ['Russia', 1514713500.0, 2001], ['Russia', 1505520100.0, 2002], ['Russia', 1535293000.0, 2003], ['Russia', 1541753900.0, 2004], ['Russia', 1559082800.0, 2005], ['Russia', 1618246100.0, 2006], ['Russia', 1618586200.0, 2007], ['Russia', 1646969000.0, 2008], ['Russia', 1539305700.0, 2009], ['Russia', 1626187500.0, 2010], ['Russia', 1679278500.0, 2011], ['Russia', 1694576400.0, 2012], ['Russia', 1632716400.0, 2013], ['Russia', 1631662200.0, 2014], ['Russia', 1629713200.0, 2015], ['Russia', 1624756400.0, 2016], ['Russia', 1654154100.0, 2017], ['Russia', 1700452900.0, 2018], ['United Kingdom', 500792130.0, 1950], ['United Kingdom', 545252800.0, 1951], ['United Kingdom', 528706100.0, 1952], ['United Kingdom', 540210750.0, 1953], ['United Kingdom', 553009700.0, 1954], ['United Kingdom', 576951700.0, 1955], ['United Kingdom', 574323500.0, 1956], ['United Kingdom', 570714200.0, 1957], ['United Kingdom', 556315840.0, 1958], ['United Kingdom', 546606140.0, 1959], ['United Kingdom', 584020030.0, 1960], ['United Kingdom', 588614800.0, 1961], ['United Kingdom', 592931500.0, 1962], ['United Kingdom', 603385660.0, 1963], ['United Kingdom', 607866000.0, 1964], ['United Kingdom', 622111600.0, 1965], ['United Kingdom', 618074600.0, 1966], ['United Kingdom', 592057000.0, 1967], ['United Kingdom', 606488260.0, 1968], ['United Kingdom', 628382600.0, 1969], ['United Kingdom', 652577400.0, 1970], ['United Kingdom', 660388200.0, 1971], ['United Kingdom', 648026300.0, 1972], ['United Kingdom', 659577100.0, 1973], ['United Kingdom', 617183600.0, 1974], ['United Kingdom', 603247040.0, 1975], ['United Kingdom', 598526000.0, 1976], ['United Kingdom', 604361700.0, 1977], ['United Kingdom', 604713500.0, 1978], ['United Kingdom', 644512800.0, 1979], ['United Kingdom', 579035400.0, 1980], ['United Kingdom', 560554500.0, 1981], ['United Kingdom', 548240400.0, 1982], ['United Kingdom', 545485100.0, 1983], ['United Kingdom', 529108160.0, 1984], ['United Kingdom', 559627300.0, 1985], ['United Kingdom', 568554000.0, 1986], ['United Kingdom', 571667600.0, 1987], ['United Kingdom', 570293760.0, 1988], ['United Kingdom', 581576100.0, 1989], ['United Kingdom', 601945100.0, 1990], ['United Kingdom', 609412700.0, 1991], ['United Kingdom', 593845950.0, 1992], ['United Kingdom', 579612540.0, 1993], ['United Kingdom', 574016900.0, 1994], ['United Kingdom', 566158900.0, 1995], ['United Kingdom', 586760700.0, 1996], ['United Kingdom', 562708160.0, 1997], ['United Kingdom', 568543700.0, 1998], ['United Kingdom', 561649600.0, 1999], ['United Kingdom', 569033660.0, 2000], ['United Kingdom', 577970560.0, 2001], ['United Kingdom', 560273200.0, 2002], ['United Kingdom', 571618750.0, 2003], ['United Kingdom', 573429760.0, 2004], ['United Kingdom', 570338370.0, 2005], ['United Kingdom', 567845600.0, 2006], ['United Kingdom', 559566460.0, 2007], ['United Kingdom', 544932400.0, 2008], ['United Kingdom', 494107700.0, 2009], ['United Kingdom', 511904580.0, 2010], ['United Kingdom', 469713300.0, 2011], ['United Kingdom', 487476770.0, 2012], ['United Kingdom', 477611260.0, 2013], ['United Kingdom', 438807070.0, 2014], ['United Kingdom', 422460800.0, 2015], ['United Kingdom', 399430140.0, 2016], ['United Kingdom', 387367140.0, 2017], ['United Kingdom', 379729760.0, 2018], ['United States', 2541485300.0, 1950], ['United States', 2618711600.0, 1951], ['United States', 2551219500.0, 1952], ['United States', 2612971300.0, 1953], ['United States', 2489462300.0, 1954], ['United States', 2728512000.0, 1955], ['United States', 2859995000.0, 1956], ['United States', 2835772200.0, 1957], ['United States', 2747107600.0, 1958], ['United States', 2831923200.0, 1959], ['United States', 2897315000.0, 1960], ['United States', 2886872800.0, 1961], ['United States', 2993902000.0, 1962], ['United States', 3126487600.0, 1963], ['United States', 3264313600.0, 1964], ['United States', 3399547000.0, 1965], ['United States', 3571421400.0, 1966], ['United States', 3705461000.0, 1967], ['United States', 3840919600.0, 1968], ['United States', 4035145200.0, 1969], ['United States', 4339686000.0, 1970], ['United States', 4365465000.0, 1971], ['United States', 4573015000.0, 1972], ['United States', 4785048600.0, 1973], ['United States', 4621046000.0, 1974], ['United States', 4478226000.0, 1975], ['United States', 4747762000.0, 1976], ['United States', 4889607000.0, 1977], ['United States', 4941361700.0, 1978], ['United States', 5008578600.0, 1979], ['United States', 4808520700.0, 1980], ['United States', 4686369300.0, 1981], ['United States', 4447256000.0, 1982], ['United States', 4429374000.0, 1983], ['United States', 4662141400.0, 1984], ['United States', 4652580000.0, 1985], ['United States', 4663369700.0, 1986], ['United States', 4825650700.0, 1987], ['United States', 5050475500.0, 1988], ['United States', 5132134400.0, 1989], ['United States', 5122496000.0, 1990], ['United States', 5064987000.0, 1991], ['United States', 5175220000.0, 1992], ['United States', 5274363000.0, 1993], ['United States', 5365579000.0, 1994], ['United States', 5427798500.0, 1995], ['United States', 5616430600.0, 1996], ['United States', 5691864600.0, 1997], ['United States', 5737129500.0, 1998], ['United States', 5810331600.0, 1999], ['United States', 6016350700.0, 2000], ['United States', 5911988000.0, 2001], ['United States', 5952699000.0, 2002], ['United States', 6015804400.0, 2003], ['United States', 6117963000.0, 2004], ['United States', 6137603600.0, 2005], ['United States', 6057163300.0, 2006], ['United States', 6135287300.0, 2007], ['United States', 5918868500.0, 2008], ['United States', 5482978000.0, 2009], ['United States', 5681392000.0, 2010], ['United States', 5546629000.0, 2011], ['United States', 5345454000.0, 2012], ['United States', 5480926000.0, 2013], ['United States', 5528871000.0, 2014], ['United States', 5376578000.0, 2015], ['United States', 5251757600.0, 2016], ['United States', 5210957300.0, 2017], ['United States', 5376657400.0, 2018], ['World', 6003272000.0, 1950], ['World', 9387668000.0, 1960], ['World', 14898716000.0, 1970], ['World', 19501263000.0, 1980], ['World', 22757480000.0, 1990], ['World', 25453623000.0, 2000], ['World', 33364347000.0, 2010], ['World', 35524190000.0, 2016], ['World', 36096737000.0, 2017], ['World', 36826510000.0, 2018])