In [ ]:
# All imports
#from google.colab import drive
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
#from google.colab import files

In [ ]:
# Mount drive
#drive.mount('/content/drive/')

In [ ]:
%pip install redshift_connector
import redshift_connector
conn = redshift_connector.connect(
     host='redshift-cluster-1.cigoy313aggq.us-east-1.redshift.amazonaws.com',
     database='dev',
     port=5439,
     user='awsuser',
     password='Winter2023'
  )


# Create a Cursor object
cursor = conn.cursor()



# Query a table using the Cursor
cursor.execute("select * from book")
                
#Retrieve the query result set
result: tuple = cursor.fetchall()
print(result)
#(['One Hundred Years of Solitude', 'Gabriel García Márquez'], ['A Brief History of Time', 'Stephen Hawking'])

In [ ]:
#Connect to the cluster
%pip install mysql.connector
import mysql.connector
from mysql.connector import Error

In [ ]:

def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

pw = 'sherrer588' # IMPORTANT! Put your MySQL Terminal password here.
db = "school" # This is the name of the database we will create in the next step - call it whatever you like.

connection = create_server_connection("localhost", "root", pw)

In [ ]:
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")

create_database_query = "CREATE DATABASE school"
create_database(connection, create_database_query)

In [ ]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [ ]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:
# Assign our SQL command to a python variable using triple quotes to create a multi-line string

drop_table= '''
Drop table finalProject
'''
    
    
create_finalProject_table = """
CREATE TABLE if not exists finalProject (
  Id INT PRIMARY KEY AUTO_INCREMENT,
  Entity VARCHAR(32) NOT NULL,
  Year INT NOT NULL,
  Annual_CO₂_emissions float,
  GDP_per_capita float,
  Population float ,
  per_gdp_CO2 float ,
  Annual_nitrous_oxide_emissions float,
Annual_methane_emissions float,
per_capita_CO2 float,
C02_emmissions float
);
 """

connection = create_db_connection("localhost", "root", pw, db) # Connect to the Database
execute_query(connection, drop_table) # Execute our defined query
execute_query(connection, create_finalProject_table) # Execute our defined query

In [ ]:
def execute_list_query(connection, sql, val):
    cursor = connection.cursor()
    try:
        cursor.executemany(sql, val)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:

df_co2 = pd.read_csv("./CSV/annual-co2-emissions-per-country.csv")
df_pop = pd.read_csv('./CSV/population-and-demography.csv')
df_gdp = pd.read_csv('./CSV/gdp-per-capita.csv')
df_methane = pd.read_csv('./CSV/methane-emissions.csv')
df_nitrous = pd.read_csv('./CSV/nitrous-oxide-emissions.csv')

THIS IS THE MERGE PART

In [ ]:

#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)


pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')

countries_array = ['Russia', 'China', 'United States', 'United Kingdom','Canada', 'World']



df_co2_noname = df_co2[['Entity','Year','Annual CO₂ emissions']] 

df_co2_final = df_co2_noname[(df_co2_noname['Entity'].isin(countries_array))]

df_co2_final

In [ ]:
# Creating Graph for comparing Canada All and Canada - Factory
# df_canada_vs_canada_no_factory
plt.style.use('default')

with plt.style.context('Solarize_Light2'):


  fig,axs = plt.subplots(figsize=(10,5))

  #plt.xticks(range(1750,2021), range(1750,2021))

  co2_country = sns.lineplot(
      data=df_co2_final,
      x='Year',
      y='Annual CO₂ emissions',
      hue='Entity'
  )
  co2_country.set(
      xlabel='Date',
      ylabel='Kilotonnes of CO2 ',
      ylim=(0,None),
      title='''CO2 Emissions from 'countries_array' per year (1750 - 2021)'''
  )

  plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0, title="")
  plt.show()
  #plt.legend(title='')

In [ ]:

#df_methane = pd.read_csv(df_methane)

df_methane_noname = df_methane[['Entity','Year','Annual methane emissions']] 

df_methane_final = df_methane_noname[(df_methane_noname['Entity'].isin(countries_array))]

df_methane_final

In [ ]:
# Creating Graph for comparing Canada All and Canada - Factory
# df_canada_vs_canada_no_factory
plt.style.use('default')

with plt.style.context('Solarize_Light2'):


  fig,axs = plt.subplots(figsize=(10,5))

  #plt.xticks(range(1750,2021), range(1750,2021))

  ax_canada_vs_canada_no_factory = sns.lineplot(
      data=df_methane_final,
      x='Year',
      y='Annual methane emissions',
      hue='Entity'
  )
  ax_canada_vs_canada_no_factory.set(
      xlabel='Date',
      ylabel='Kilotonnes of methane',
      ylim=(0,None),
      title='''Methane Emissions from 'countries_array' per year (1850 - 2021)'''
  )

  plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0, title="")
  plt.show()
  #plt.legend(title='')

In [ ]:
#df_nitrous = pd.read_csv(nitrous_path)

df_nitrous_noname = df_nitrous[['Entity','Year','Annual nitrous oxide emissions']] 

df_nitrous_final = df_nitrous_noname[(df_nitrous_noname['Entity'].isin(countries_array))]

df_nitrous_final

In [ ]:
# Creating Graph for comparing Canada All and Canada - Factory
# df_canada_vs_canada_no_factory
plt.style.use('default')

with plt.style.context('Solarize_Light2'):


  fig,axs = plt.subplots(figsize=(10,5))

  #plt.xticks(range(1750,2021), range(1750,2021))

  ax_canada_vs_canada_no_factory = sns.lineplot(
      data=df_nitrous_final,
      x='Year',
      y='Annual nitrous oxide emissions',
      hue='Entity'
  )
  ax_canada_vs_canada_no_factory.set(
      xlabel='Date',
      ylabel='Kilotonnes of nitrous oxide',
      ylim=(0,None),
      title='''Nitrous oxide Emissions from 'countries_array' per year (1850 - 2021)'''
  )

  plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0, title="")
  #plt.legend(title='')

In [ ]:
df_pop2 = df_pop[["Country name", "Year", "Population"]]
#print(df_pop2)

df_pop3 = pd.merge(

    left = df_co2,
    right = df_gdp,
    left_on = ["Entity","Year"],
    right_on = ["Entity","Year"]

)

df_pop3 = pd.merge(

    left = df_pop3,
    right = df_pop,
    left_on = ["Entity","Year"],
    right_on = ["Country name","Year"]

)

df_pop2 = pd.merge(

    left = df_co2,
    right = df_pop,
    left_on = ["Entity","Year"],
    right_on = ["Country name","Year"]

)




df_pop3["per_capita_CO2"] = df_pop3["Annual CO₂ emissions"]/df_pop3["Population"]
df_pop3["per_gdp_CO2"] = df_pop3["Annual CO₂ emissions"]*1000/(df_pop3["GDP per capita"]*df_pop3["Population"])

#print(df_pop2)
# Filter the df_pop2 dataframe to contain only the 'World' rows
df_world = df_pop2[df_pop2['Entity'] == 'World'][['Year', 'Annual CO₂ emissions']]
#print(df_world)
# Merge the filtered dataframe with the original dataframe on the 'Year' column
df_pop2 = pd.merge(df_pop2, df_world, on='Year', how='left', suffixes=('', '_world'))
#print(df_pop2)
# Calculate the percentage of global CO2 emissions for each country and year
df_pop2['CO₂ emissions %'] = df_pop2['Annual CO₂ emissions'] / df_pop2['Annual CO₂ emissions_world'] * 100
#print(df_pop2)
# Drop the redundant 'Annual CO₂ emissions_world' column
df_pop2 = df_pop2.drop('Annual CO₂ emissions_world', axis=1)



df_pop2_final = df_pop2[(df_pop2['Entity'].isin(countries_array))]
#df_country_final = df_country[(df_country['Entity'].isin(countries_array))]
#df_pop2_final

df_pop3_final = df_pop3[(df_pop3['Entity'].isin(countries_array))]
#from google.colab import files
#df_pop3_final.to_csv('output.csv', encoding = 'utf-8-sig') 
#@#files.download('output.csv')
df_pop3_final = df_pop3_final.drop(columns = ['Code_x', 'Code_y', '417485-annotations', 'Country name', 'Population of children under the age of 1', 'Population aged 20 to 29 years'	,'Population aged 30 to 39 years'	,'Population aged 40 to 49 years',	'Population aged 50 to 59 years',	'Population aged 60 to 69 years',	'Population aged 70 to 79 years',	'Population aged 80 to 89 years',	'Population aged 90 to 99 years'	,'Population older than 100 years' ])
df_pop3_final = df_pop3_final.drop(columns=['Population of children under the age of 5','Population of children under the age of 15','Population under the age of 25','Population aged 15 to 64 years','Population older than 15 years','Population older than 18 years','Population at age 1','Population aged 1 to 4 years','Population aged 5 to 9 years','Population aged 10 to 14 years','Population aged 15 to 19 years'])
df_pop2_final = df_pop2_final.drop(columns = [ 'Country name', 'Population of children under the age of 1', 'Population aged 20 to 29 years'	,'Population aged 30 to 39 years'	,'Population aged 40 to 49 years',	'Population aged 50 to 59 years',	'Population aged 60 to 69 years',	'Population aged 70 to 79 years',	'Population aged 80 to 89 years',	'Population aged 90 to 99 years'	,'Population older than 100 years' ])
df_pop2_final = df_pop2_final.drop(columns=['Population of children under the age of 5','Population of children under the age of 15','Population under the age of 25','Population aged 15 to 64 years','Population older than 15 years','Population older than 18 years','Population at age 1','Population aged 1 to 4 years','Population aged 5 to 9 years','Population aged 10 to 14 years','Population aged 15 to 19 years'])
df_pop2_final = df_pop2_final.drop(columns=['Code','Annual CO₂ emissions','Population'])

df_pop3_final = pd.merge(
    left = df_pop3_final,
    right = df_nitrous_final,
    left_on = ["Entity","Year"],
    right_on = ["Entity","Year"]
)
df_pop3_final = pd.merge(
    
 left = df_pop3_final,
    right = df_methane_final,
    left_on = ["Entity","Year"],
    right_on = ["Entity","Year"]

)
df_pop3_final = pd.merge(
    
 left = df_pop3_final,
    right = df_pop2_final,
    left_on = ["Entity","Year"],
    right_on = ["Entity","Year"]

)

df_pop3_final

In [ ]:
sql1 = '''
   INSERT INTO finalProject (Entity, Year, Annual_CO₂_emissions,  GDP_per_capita, Population, per_gdp_CO2, Annual_nitrous_oxide_emissions , Annual_methane_emissions) 
    VALUES ( %s, %s, %s, %s, %s, %s, %s, %s)
  '''

val1 = df_pop3_final.values.tolist()
print(val1)
connection = create_db_connection("localhost", "root", pw, db)
execute_list_query(connection, sql1, val1)

In [ ]:
# Creating Graph for comparing Canada All and Canada - Factory
# df_canada_vs_canada_no_factory
plt.style.use('default')

with plt.style.context('Solarize_Light2'):


  fig,axs = plt.subplots(figsize=(10,5))

  #plt.xticks(range(1750,2021), range(1750,2021))

  co2_per_capita = sns.lineplot(
      data=df_pop2_final,
      x='Year',
      y='per_capita_CO2',
      hue='Entity'
  )
  co2_per_capita.set(
      xlabel='Date',
      ylabel='Kilotonnes of CO₂',
      ylim=(0,None),
      title='''CO₂ Emissions per capita from 'countries_array' per year (1950 - 2020)'''
  )

  plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0, title="")
  #plt.legend(title='')

In [ ]:
# Creating Graph for comparing Canada All and Canada - Factory
# df_canada_vs_canada_no_factory
plt.style.use('default')

with plt.style.context('Solarize_Light2'):


  fig,axs = plt.subplots(figsize=(10,5))

  #plt.xticks(range(1750,2021), range(1750,2021))

  co2_per_capita = sns.lineplot(
      data=df_pop2_final,
      x='Year',
      y='CO₂ emissions %',
      hue='Entity'
  )
  co2_per_capita.set(
      xlabel='Date',
      ylabel='Kilotonnes of CO₂',
      ylim=(0,None),
      title='''CO₂ Emissions compared worldwide from 'countries_array' per year (1950 - 2020)'''
  )

  plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0, title="")
  
  plt.savefig('co2_emission_gdp.png', bbox_inches='tight')
  #files.download('co2_emission_gdp.png')
  #plt.legend(title='')

In [ ]:
# Creating Graph for comparing Canada All and Canada - Factory
# df_canada_vs_canada_no_factory
plt.style.use('default')

with plt.style.context('Solarize_Light2'):


  fig,axs = plt.subplots(figsize=(10,5))

  #plt.xticks(range(1750,2021), range(1750,2021))

  co2_per_capita = sns.lineplot(
      data=df_pop3_final,
      x='Year',
      y='per_gdp_CO2',
      hue='Entity'
  )
  co2_per_capita.set(
      xlabel='Date',
      ylabel='Kilotonnes of CO₂',
      ylim=(0,None),
      title='''CO₂ Emissions compared worldwide from 'countries_array' per year (1950 - 2020)'''
  )

  plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0, title="")
  #plt.legend(title='')

#plt.savefig('co2_emission_gdp.png', bbox_inches='tight')
#files.download('co2_emission_gdp.png')

# New Section

In [ ]:
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:
firstQuery ='''SELECT ENTITY, Annual_CO₂_emissions, Year from finalProject;'''
connection = create_db_connection("localhost", "root", pw, db)
df_co2_graph = read_query(connection, firstQuery)

In [ ]:
df_co2_graph

In [ ]:
result = df_co2_graph.concat(df_list, axis=1)

In [ ]:
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:
co2Query = '''
    SELECT Entity,
    Annual_CO₂_emissions,
    Year
    FROM finalProject
'''
connection = create_db_connection("localhost", "root", pw, db)
co2_data = read_query(connection, co2Query)

# Create a pandas DataFrame from the list
df_co2_final = pd.DataFrame(co2_data, columns=['Entity', 'Annual CO₂ emissions', 'Year'])

In [3]:
import matplotlib.ticker as ticker

# Creating Graph for comparing Canada All and Canada - Factory
# df_canada_vs_canada_no_factory
plt.style.use('default')

with plt.style.context('Solarize_Light2'):


    fig,axs = plt.subplots(figsize=(10,5))

    #plt.xticks(range(1750,2021), range(1750,2021))

    axs.yaxis.set_major_formatter(ticker.FuncFormatter(lambda x, pos: f'{x / 10**9:.0f}'))

    co2_country = sns.lineplot(
        data=df_co2_final,
        x='Year',
        y='Annual CO₂ emissions',
        hue='Entity'
    )

    co2_country.set(
        xlabel='Date',
        ylabel='Billion Tonnes of CO₂',
        ylim=(0,None),
        title='''CO₂ Emissions by Country per Year (1950 - 2018)'''
    )
    axs.set_xlim(df_co2_final['Year'].min(), df_co2_final['Year'].max())
    
    plt.xticks(range(1950, 2018, 5), range(1950, 2018, 5))

    plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0, title="")
    #plt.legend(title='')
    
plt.show()

NameError: name 'plt' is not defined

In [4]:
methaneQuery = '''
    SELECT Entity,
    Annual_methane_emissions,
    Year
    FROM finalProject
'''
connection = create_db_connection("localhost", "root", pw, db)
methane_data = read_query(connection, firstQuery)

# Create a pandas DataFrame from the list
df_methane_final = pd.DataFrame(methane_data, columns=['Entity', 'Annual methane emissions', 'Year'])

NameError: name 'create_db_connection' is not defined

In [5]:
methaneQuery = '''
    SELECT Entity,
    Annual_methane_emissions,
    Year
    FROM finalProject
'''
connection = create_db_connection("localhost", "root", pw, db)
methane_data = read_query(connection, firstQuery)

# Create a pandas DataFrame from the list
df_methane_final = pd.DataFrame(methane_data, columns=['Entity', 'Annual methane emissions', 'Year'])

#--------------------------------

import matplotlib.ticker as ticker

# Creating Graph for comparing Canada All and Canada - Factory
# df_canada_vs_canada_no_factory
plt.style.use('default')

with plt.style.context('Solarize_Light2'):


    fig,axs = plt.subplots(figsize=(10,5))

    #plt.xticks(range(1750,2021), range(1750,2021))

    axs.yaxis.set_major_formatter(ticker.FuncFormatter(lambda x, pos: f'{x / 10**9:.0f}'))

    ax_canada_vs_canada_no_factory = sns.lineplot(
        data=df_methane_final,
        x='Year',
        y='Annual methane emissions',
        hue='Entity'
    )
    ax_canada_vs_canada_no_factory.set(
        xlabel='Date',
        ylabel='Billion Tonnes of Methane',
        ylim=(0,None),
        title='''Methane Emissions by Country per Year (1850 - 2021)'''
    )

    axs.set_xlim(df_methane_final['Year'].min(), df_methane_final['Year'].max())

    plt.xticks(range(1950, 2021, 5), range(1950, 2021, 5))

    plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0, title="")
    #plt.legend(title='')

    plt.show()

NameError: name 'create_db_connection' is not defined

In [6]:
nitrousQuery = '''
    SELECT Entity,
    Annual_nitrous_oxide_emissions,
    Year
    FROM finalProject
'''
connection = create_db_connection("localhost", "root", pw, db)
nitrous_data = read_query(connection, nitrousQuery)

# Create a pandas DataFrame from the list
df_nitrous_final = pd.DataFrame(nitrous_data, columns=['Entity', 'Annual nitrous emissions', 'Year'])

NameError: name 'create_db_connection' is not defined

In [7]:
import matplotlib.ticker as ticker

# Creating Graph for comparing Canada All and Canada - Factory
# df_canada_vs_canada_no_factory
plt.style.use('default')

with plt.style.context('Solarize_Light2'):


    fig,axs = plt.subplots(figsize=(10,5))

  #plt.xticks(range(1750,2021), range(1750,2021))

    axs.yaxis.set_major_formatter(ticker.FuncFormatter(lambda x, pos: f'{x / 10**9:.1f}'))

    ax_canada_vs_canada_no_factory = sns.lineplot(
        data=df_nitrous_final,
        x='Year',
        y='Annual nitrous emissions',
        hue='Entity'
    )
    ax_canada_vs_canada_no_factory.set(
        xlabel='Date',
        ylabel='Billion Tonnes of Nitrous Oxide',
        ylim=(0,None),
        title='''Nitrous Oxide Emissions by Country per Year (1850 - 2021)'''
    )

    axs.set_xlim(df_nitrous_final['Year'].min(), df_nitrous_final['Year'].max())

    plt.xticks(range(1950, 2021, 25), range(1950, 2021, 25))

    plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0, title="")
  #plt.legend(title='')

plt.show()

NameError: name 'plt' is not defined

In [8]:
co2_gdp_Query = '''
    SELECT Entity,
    per_gdp_CO2,
    Year
    FROM finalProject
'''
connection = create_db_connection("localhost", "root", pw, db)
co2_gdp_data = read_query(connection, co2_gdp_Query)

# Create a pandas DataFrame from the list
df_co2_gdp_final = pd.DataFrame(co2_gdp_data, columns=['Entity', 'per_gdp_CO2', 'Year'])

NameError: name 'create_db_connection' is not defined

In [9]:

import matplotlib.ticker as ticker

# Creating Graph for comparing Canada All and Canada - Factory
# df_canada_vs_canada_no_factory
plt.style.use('default')

with plt.style.context('Solarize_Light2'):


    fig,axs = plt.subplots(figsize=(10,5))

    #plt.xticks(range(1750,2021), range(1750,2021))

    co2_per_capita = sns.lineplot(
        data=df_pop3_final,
        x='Year',
        y='per_gdp_CO2',
        hue='Entity'
    )
    co2_per_capita.set(
        xlabel='Date',
        ylabel='Kilotonnes of CO₂',
        ylim=(0,None),
        title='''CO₂ Emissions compared worldwide from 'countries_array' per year (1950 - 2020)'''
    )
    
    axs.set_xlim(df_nitrous_final['Year'].min(), df_nitrous_final['Year'].max())

    plt.xticks(range(1950, 2018, 5), range(1950, 2018, 5))

    plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0, title="")
    #plt.legend(title='')

#plt.savefig('co2_emission_gdp.png', bbox_inches='tight')
#files.download('co2_emission_gdp.png')

plt.show()

NameError: name 'plt' is not defined